body {
    background: #0d0d0d;
    color: #fff;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.heading {
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
}

.sub-heading {
    font-size: 18px;
    color: #bbb;
    margin-bottom: 40px;
}

.container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: #1b1b1b;
    padding: 25px;
    width: 350px;
    border-radius: 14px;
    box-shadow: 0 0 15px #000;
    text-align: left;
}

.card.large {
    width: 90%;
}

.card h2 {
    margin-bottom: 10px;
    color: #ffb300;
}

.status.success {
    color: #29ff7f;
    font-weight: bold;
}

.btn {
    margin-top: 12px;
    padding: 10px 18px;
    background: #ffb300;
    color: #000;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.btn:hover {
    background: #ffd16a;
}

pre {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    color: #00ffb7;
    font-size: 14px;
    overflow-x: auto;
}
